services:
  # 1. Serviço de Assinatura
  cont_servico_assinatura:
    build: ./servico_assinatura       # Onde está o Dockerfile? Na pasta servico_assinatura
    ports:
      - "5001:5001"                   # Porta PC : Porta Container
    container_name: container_assinatura

  # 2. Serviço de Catálogo
  cont_servico_catalogo:
    build: ./servico_catalogo         # Onde está o Dockerfile? Na pasta servico_catalogo
    ports:
      - "5002:5002"
    container_name: container_catalogo

  # 3. Gateway (O Maestro)
  gateway:
    build: ./mine_netflix             # Onde está o Dockerfile? Na pasta mine_netflix
    ports:
      - "5000:5000"
    container_name: container_gateway
    # O Pulo do Gato: Dizemos que o Gateway "depende" dos outros para nascer
    depends_on:
      - cont_servico_assinatura
      - cont_servico_catalogo